header {
  position: fixed;
  top: 0;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  background: #e6d7d7a9;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 98%;
  justify-content: space-around;
}

.logo {
  text-decoration: none;
  color: rgb(8, 2, 8);
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  width: 300px;
}

.logo span {
  color: red;
}

.navbar a {
  text-decoration: none;
  color: red;
}

.navbar li :hover {
  color: rgb(155, 161, 167);
}

.navbar ul,
li {
  display: flex;
  gap: 10px;
}

.about-us {
  margin-top: 100px;
  background-color: rgba(255, 192, 203, 0.247);
}

.about {
  margin-top: 90px;
  background-color: rgba(255, 192, 203, 0.247);
  padding-bottom: 15px;
}
.about-us h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  color: rgb(243, 152, 73);
}
.about-us p {
  color: darkred;
  text-align: center;
}

.about h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  color: rgb(243, 152, 73);
}

.about p {
  color: darkred;
}

.pricing {
  background-color: rgba(248, 195, 188, 0.692);
  gap: 40px;
  padding: 30px;
}
.pricing h2 {
  text-align: center;
  font-size: 40px;
  color: red;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.pricing h3,
h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
}

.imgcard {
  border: 10px;
  padding: 40px 20px;
  background-color: rgb(230, 171, 171);
  text-align: center;
}
.cardgrid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.events {
  background-color: rgba(255, 192, 203, 0.247);
}

.contactus {
  text-align: center;
  padding-top: 20px;
}

.socials {
  text-align: center;
  flex-wrap: flex;
}

.schedule {
  background-color: rgba(240, 106, 106, 0.336);
  padding-top: 90px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 320px;
  border: 1px solid #0f0f0f;
  padding: 10px;
}

.calendar h2 {
  text-align: center;
  margin: 10px 0;
}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.days div {
  font-weight: bold;
  padding: 5px 0;
}

.dates div {
  padding: 10px 0;
  border: 1px solid #b99595;
}

.today {
  background-color: #c46a208a;
  color: white;
  border-radius: 50%;
}

footer {
  background-color: rgb(54, 50, 50);
  padding: 1.75%;
}
