Body {
  margin: 0;
  font-family: serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo {
  color: green;
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: blue;
  text-decoration: wavy;
  font: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(39, 226, 148);
}
