body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: left;
  align-items: right;
  background-color: rgba(20, 199, 145, 0.767);
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 10px 0;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
a:hover {
  color: blue;
}
.class-Hero {
  background-color: rgba(144, 230, 230, 0.575);
  padding: 50px 20px;
}

.class-Hero img {
  border-radius: 10px;
}
.portfolio {
  border: 10px;
  padding: 40px 20px;
  background-color: rgb(86, 219, 168);
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.portfolio img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
}

.Project {
  background-color: aquamarine;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
}
.portfolio img {
  box-shadow: 0 4px 8px grey;
}

footer {
  background-color: grey;
  color: white;
  padding: 15px;
  font-size: 14px;
  padding: 40px;
}
